.Personal {
    font-size: 15.35px;
    font-family: "Mikado";
    color: rgb(255, 227, 82);
    line-height: 1.2;
    text-align: center;
    text-shadow: 0px 2px 0px rgba(222, 82, 33, 0.004),0px 3px 0px rgba(222, 82, 33, 0.004),0px 4px 0px rgba(222, 82, 33, 0.004),0px 5px 0px rgba(222, 82, 33, 0.004),0px 6px 0px rgba(222, 82, 33, 0.004),0px 7px 0px rgba(222, 82, 33, 0.004),0.488px 6.983px 29px rgba(0, 0, 0, 0.2),0.488px 6.983px 8.4px rgba(0, 0, 0, 0.73),0.488px 6.983px 26.88px rgba(0, 0, 0, 0.21);
    -moz-transform: matrix( 10.2568658542523,0,0,10.1713682729294,0,0);
    -webkit-transform: matrix( 10.2568658542523,0,0,10.1713682729294,0,0);
    -ms-transform: matrix( 10.2568658542523,0,0,10.1713682729294,0,0);
    position: absolute;
    left: 2933.728px;
    top: 617.79px;
    z-index: 129;
}